<h1>Add decision</h1>
<%= form_for @decision_new do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %> <br/>

  <%= f.label :forecast %>:
  <%= f.text_area :forecast %> <br/>

  <%= f.label :review_date %>:
  <%= f.date_select :review_date, :order => [:day, :month, :year] %> <br/>

  <%= f.submit %>
<% end %>
<hr>
<h1>My upcoming reviews</h1>
<% @decisions.each do |decision| %>
<h2><a><%= link_to decision.title, decision %></a></h2>
<p><%= decision.review_date %></p>
<hr>
<% end %>


<!-- @ is for instance variables: created in the
controller and shared in the view.

Whenever you write do |decision| you create a
local variable in the block of code. -->
