<h1>Decision showpage</h1>

<h2>I decided <%= @decision.title %></h2>
<p>Made one <%= @decision.created_at %></p>
<p>The effect that i expect it to have is... <%= @decision.forecast %></p>
<p>Review date: <%= @decision.review_date %></p>

<%= link_to "Delete Decision", decision_path(@decision), method: :delete, data: { confirm: "Are you sure?" } %>

<!-- <%= render "outcomes/form" %>-->


<%if @decision.outcomes.length <= 1 %>
    <%= render "outcomes/form" %>
    <% else %>
      <%= render "outcomes/outcome" %>
<% end %>
