<div class="col-lg-6">
  <%= form_for([@decision, @decision.outcomes.build]) do |f| %>
    <div class="form-group">
      <%= f.label :actual, class: "form-label" %>:
      <%= f.text_area :actual, class: "form-control"%> <br/>
    </div>

    <div class="form-group">
      <%= f.label :strength, class: "form-label"%>:
      <%= f.text_field :strength, class: "form-control" %> <br/>
    </div>

    <div class="form-group">
      <%= f.label :weakness, class: "form-label"%>:
      <%= f.text_field :weakness, class: "form-control" %> <br/>
    </div>
    <%= f.submit class: "btn btn-primary" %>
    <% end %>
    <br/>
  </div>
